<div class="bg-white">
  <main class="isolate">
    <!-- Hero section -->
    <div class="relative isolate -z-10">
      <svg
        class="absolute inset-x-0 top-0 -z-10 h-[64rem] w-full stroke-gray-200 [mask-image:radial-gradient(32rem_32rem_at_center,white,transparent)]"
        aria-hidden="true"
      >
        <defs>
          <pattern
            id="1f932ae7-37de-4c0a-a8b0-a6e3b4d44b84"
            width="200"
            height="200"
            x="50%"
            y="-1"
            patternUnits="userSpaceOnUse"
          >
            <path d="M.5 200V.5H200" fill="none" />
          </pattern>
        </defs>
        <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
          <path
            d="M-200 0h201v201h-201Z M600 0h201v201h-201Z M-400 600h201v201h-201Z M200 800h201v201h-201Z"
            stroke-width="0"
          />
        </svg>
        <rect
          width="100%"
          height="100%"
          stroke-width="0"
          fill="url(#1f932ae7-37de-4c0a-a8b0-a6e3b4d44b84)"
        />
      </svg>
      <div
        class="absolute left-1/2 right-0 top-0 -z-10 -ml-24 transform-gpu overflow-hidden blur-3xl lg:ml-24 xl:ml-48"
        aria-hidden="true"
      >
        <div
          class="aspect-[801/1036] w-[50.0625rem] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30"
          style="
            clip-path: polygon(
              63.1% 29.5%,
              100% 17.1%,
              76.6% 3%,
              48.4% 0%,
              44.6% 4.7%,
              54.5% 25.3%,
              59.8% 49%,
              55.2% 57.8%,
              44.4% 57.2%,
              27.8% 47.9%,
              35.1% 81.5%,
              0% 97.7%,
              39.2% 100%,
              35.2% 81.4%,
              97.2% 52.8%,
              63.1% 29.5%
            );
          "
        ></div>
      </div>
      <div class="overflow-hidden">
        <div
          class="mx-auto max-w-7xl px-6 pb-32 pt-36 sm:pt-60 lg:px-8 lg:pt-32"
        >
          <div
            class="mx-auto max-w-2xl gap-x-14 lg:mx-0 lg:flex lg:max-w-none lg:items-center"
          >
            <div class="w-full max-w-xl lg:shrink-0 xl:max-w-2xl">
              <h1
                class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl"
              >                Pave a path for your imagination and knowledge.
              </h1>
              <p
                class="relative mt-6 text-lg leading-8 text-gray-600 sm:max-w-md lg:max-w-none"
              >
              Welcome to Tales and Tomes, your sanctuary for the written word, and passport to faraway lands, mystical realms, and the depths of the human mind. Located at the heart of our vibrant community, Tales and Tomes isn't just a bookstore — it's a haven for book lovers, a meeting place for thinkers, and a launchpad for dreamers.
              
              Imagine a place where the air is tinged with the scent of fresh ink and aging parchment, where the very walls seem to whisper stories from the annals of history and the boundless realms of fantasy. That's Tales and Tomes for you. Here, you're not just a customer; you're part of a family bonded by an unquenchable thirst for knowledge and imagination.
              
              Our carefully curated collection spans genres, philosophies, and languages, ensuring that there's a tale for every taste and a tome for every questing mind. From bestselling thrillers to indie poetry, educational texts to graphic novels, you’ll always find something that speaks to you.
              
              Come experience the magic and the endless possibilities that await within our pages. Because in a world of fleeting pleasures, a book is a faithful companion.
              </p>
            </div>
            <div
              class="mt-14 flex justify-end gap-8 sm:-mt-44 sm:justify-start sm:pl-20 lg:mt-0 lg:pl-0"
            >
              <div
                class="ml-auto w-44 flex-none space-y-8 pt-32 sm:ml-0 sm:pt-80 lg:order-last lg:pt-36 xl:order-none xl:pt-80"
              >
                <div class="relative">
                  <img
                    src="https://images.unsplash.com/photo-1543002588-bfa74002ed7e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80"
                    alt=""
                    class="aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg"
                  />
                  <div
                    class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"
                  ></div>
                </div>
              </div>
              <div
                class="mr-auto w-44 flex-none space-y-28 sm:mr-0 sm:pt-52 lg:pt-36"
              >
                <div class="relative">
                  <img
                    src="https://images.unsplash.com/photo-1589998059171-988d887df646?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2076&q=80"
                    alt=""
                    class="aspect-[20/16] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg"
                  />
                  <div
                    class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"
                  ></div>
                </div>
                <div class="relative">
                  <img
                    src="https://images.unsplash.com/photo-1532012197267-da84d127e765?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80"
                    alt=""
                    class="aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg"
                  />
                  <div
                    class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"
                  ></div>
                </div>
              </div>
              <div class="w-44 flex-none space-y-20 pt-32 sm:pt-0">
                <div class="relative">
                  <img
                    src="https://images.unsplash.com/photo-1544716278-ca5e3f4abd8c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80"
                    alt=""
                    class="aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg"
                  />
                  <div
                    class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"
                  ></div>
                </div>
                <div class="relative">
                  <img
                    src="https://images.unsplash.com/photo-1551029506-0807df4e2031?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1934&q=80"
                    alt=""
                    class="aspect-[3/6] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg"
                  />
                  <div
                    class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Content section -->
    <div class="mx-auto -mt-12 max-w-7xl px-6 sm:mt-0 lg:px-8 xl:-mt-8">
      <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
          Testimonials
        </h2>
        <div class="mt-6 flex flex-col gap-x-8 gap-y-20 lg:flex-row">
          <div class="lg:w-full lg:max-w-2xl lg:flex-auto">
            <p class="text-xl leading-8 text-gray-600">
              &#9733;&#9733;&#9733;&#9733;&#9733;<br>
              "Every time I walk into Tales and Tomes, it feels like coming home. The atmosphere is so inviting, and the staff are always willing to help me find my next favorite book. This place is a gem!"</p>
              — Sarah L., Local Resident
            
            <div class="mt-10 max-w-xl text-base leading-7 text-gray-700">
              <p>
                &#9733;&#9733;&#9733;&#9733;&#9733;<br>
                "As an avid reader, I can safely say that Tales and Tomes is a paradise for book lovers. Their selections are diverse, the staff are knowledgeable, and they even have a cute little café where you can sip on coffee while diving into a good book. What more could you ask for?"</p>
                — Emily R., Student
              
              <p class="mt-10">
                &#9733;&#9733;&#9733;&#9733;&#9733;<br>
                "I was blown away by the special events and workshops that Tales and Tomes offers. From author meet-and-greets to book clubs and writing classes, this place is a hub for literary culture."</p>
                — Gregory S., Aspiring Writer
              
            </div>
          </div>
          <div class="lg:flex lg:flex-auto lg:justify-center">
            <dl class="w-64 space-y-8 xl:w-80">
              <div class="flex flex-col-reverse gap-y-4">
                <dt class="text-base leading-7 text-gray-600">
                  Books Sold
                </dt>
                <dd class="text-5xl font-semibold tracking-tight text-gray-900">
                  Bajillian
                </dd>
              </div>
              <div class="flex flex-col-reverse gap-y-4">
                <dt class="text-base leading-7 text-gray-600">
                  Trees Harmed in the Making of the books
                </dt>
                <dd class="text\\-5xl font-semibold tracking-tight text-gray-900">
                  0
                </dd>
              </div>
              <div class="flex flex-col-reverse gap-y-4">
                <dt class="text-base leading-7 text-gray-600">
                  Pages Read
                </dt>
                <dd class="text-5xl font-semibold tracking-tight text-gray-900">
                  Quadrillian
                </dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
    </div>

    <!-- Image section -->
    <div class="mt-32 sm:mt-40 xl:mx-auto xl:max-w-7xl xl:px-8">
      <img
        src="https://images.unsplash.com/photo-1519791883288-dc8bd696e667?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
        alt=""
        class="aspect-[5/2] w-full object-cover xl:rounded-3xl"
      />
    </div>

    <!-- Values section -->
    <div class="mx-auto mt-32 max-w-7xl px-6 sm:mt-40 lg:px-8">
      <div class="mx-auto max-w-2xl lg:mx-0">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
          Our Mission
        </h2>
        <p class="mt-6 text-lg leading-8 text-gray-600">
          To provide books without harming the enviroment. We create our books with alchemy and hemp to save trees that normal book stores would otherwise destroy. We aim to make a change in the book industry, and save our planet through unconventional and sustainable means.
        </p>
      </div>
      <dl
        class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 text-base leading-7 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3"
      >
        <div>
          
          <dd class="mt-1 text-gray-600">
            &#9733;&#9733;&#9733;&#9733;&#9734;<br>
            "As a history buff, I was thrilled to find a section dedicated to historical texts and narratives. Tales and Tomes has something for everyone, even for those with niche interests like mine."<br>
              &mdash; <strong>Michael C., History Enthusiast</strong>
          </dd>
        </div>
        <div>
          
          <dd class="mt-1 text-gray-600">
            &#9733;&#9733;&#9733;&#9733;&#9733;<br>
            "I adore the rare and vintage book section at Tales and Tomes. Every visit feels like a treasure hunt, and I never leave empty-handed!"<br>
            &mdash; <strong>Claire B., Collector</strong>
          </dd>
        </div>
        <div>
          
          <dd class="mt-1 text-gray-600">
            &#9733;&#9733;&#9733;&#9733;&#9733;<br>
            "Tales and Tomes is more than just a bookstore; its a community hub. I’ve met so many like-minded individuals at their various events, and even joined a book club! I can't recommend this place enough."<br>
              &mdash; <strong>Linda T., Community Volunteer</strong>
          </dd>
        </div>
        <div>
          
          <dd class="mt-1 text-gray-600">
            &#9733;&#9733;&#9733;&#9733;&#9733;<br>
            "As an educator, I appreciate the extensive selection of academic resources available at Tales and Tomes. Plus, their staff members are always helpful, making it easy to find what I need for my curriculum."<br>
            &mdash; <strong>Prof. Karen G., Educator</strong>
          </dd>
        </div>
        <div>
          
          <dd class="mt-1 text-gray-600">
            &#9733;&#9733;&#9733;&#9733;&#9734;<br>
          "Their café is just as exceptional as their book collection! Whether you’re in the mood for a cozy mystery or a freshly brewed cappuccino, Tales and Tomes is the place to be."<br>
            &mdash; <strong>Andy W., Coffee Lover</strong>
          </dd>
        </div>
        <div>
          
          <dd class="mt-1 text-gray-600">
            &#9733;&#9734;&#9734;&#9734;&#9734;<br>
            I am the CEO of Big Book and I hate this company as well as trees. I will never shop at this place.<br>
            &mdash; <strong>Fat Man, Tree Hater</strong>
          </dd>
        </div>
      </dl>
    </div>

    <!-- Team section -->
    <!-- Blog section -->
    <div class="mx-auto mt-32 max-w-7xl px-6 sm:mt-40 lg:px-8">
      
    </div>
  </main>
</div>
